.modal-header {
	padding: 1rem;
}
.modal-content {
	padding: 1rem;
}
.modal-content input {
	width: 85%;
}
.modal-actions {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
}

.modal-actions button:not(:last-child) {
	margin-right: 1rem;
}
